<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemische elementen</title>
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/elements">Chemische elementen</a></li>
                <li><a href="/scientists">Wetenschappers</a></li>
            </ul>
        </nav>
    </header>